/* ---------------------------- Button colours ---------------------------- */

.aqua {
    background: #4ecdc4;
}

.coral {
    background: #ff6b6b;
}

.grey {
    background: #7a94a3;
}

.yellow {
    background: #f2f270;
}

#maths-question {
  font-size: 8em;
  font-family: serif;
  text-shadow: 0px 2px 3px #555;
}

.mathGameAns {
  margin: 0.1em;
  text-shadow: 0px 2px 3px #555;
  padding: 0.5em 0.5em;
  font-size: 3em;
  border-radius: 100%;
}

.mathGameAns:hover {
/* transform: scale(1.1);*/
  fill: #f8b03f;
  -webkit-filter: drop-shadow( 0px 0px 10px #000 );
  filter: drop-shadow( 0px 0px 10px #000 ); 
}

/* ----------------------------- Game Panels ----------------------------- */

#maths-counter-panel {
	text-align: center;
	padding: 1em;
  height: 100%;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

#maths-question-panel {
	text-align: center;
	padding: 1em;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

#maths-game-panel {
	height: auto;
  background-color: rgba(255,254,224,0.7);
  padding: 3em 0 4em 0;
  border: none;
  box-shadow: none;
}

.row-centered {
	float: center;
}

.maths-row {
  display: inline-block;
}

#maths-avatar {
  width: 8em;
  height: 6em;
  border-radius: 100%;
  margin-top: 1em;
}

#maths-child-name {
  vertical-align: text-top;
  margin-top: 1em;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: forestgreen;
}

.answers-counter-maths {
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width : 450px) {
  .answers-counter-maths {
    font-size: 1.5em;
  }
  .mathGameAns {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}


/* Media Query for iPhone 5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {

  #maths-game-panel {
    height: 45vh;
  }

  #maths-question {
    margin-top: 10vh;
    font-size: 5em;
  }

  .mathGameAns {
    max-width: 50px;
    margin: 0 auto;
  }

}

/* Media Query for iPhone 6 */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

  #maths-game-panel {
    height: 50vh;
  }

  #maths-question {
    margin-top: 10vh;
    font-size: 5em;
  }

}

/* Media Query for iPhone 6 Plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {

  #maths-game-panel {
    height: 60vh;
  }

  #maths-question {
    margin-top: 15vh;
    font-size: 5.5em;
  }

}

/* Media Query for iPad + iPad Mini */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  #maths-game-panel {
    height: 60vh;
  }

  #maths-question {
    margin-top: 15vh;
  }
}