/* --------------------------------- Game Panels --------------------------------- */

#colour-counter-panel {
	text-align: center;
	padding: 1em;
  height: 100%;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

#colour-question-panel {
	text-align: center;
	padding: 1em;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

#colour-question-panel > h1 {
  text-transform: uppercase;
}

#colour-question-panel > span {
  font-size: 1.8em;
}

#colour-game-panel {
	height: 55vh;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

.row-centered {
	float: center;
}

.colours-row {
  display: inline-block;
}

.pencil {
  margin-top: 90px;
}

.pencil:hover {
  transform: scale(1.1);
}

#colours-avatar {
  width: 8em;
  height: 6em;
  border-radius: 100%;
  margin-top: 1em;
}

#colour-child-name {
  vertical-align: text-top;
  margin-top: 1em;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: forestgreen;
}

.answers-counter-colours {
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width : 450px) {
  .answers-counter-colours {
    font-size: 1.5em;
  }
}


/* Media Query for iPhone 5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  
  .pencil {
    max-width: 45px;
    margin-top: 0;
  }

  #colour-game-panel {
    height: 42vh;
  }
}

/* Media Query for iPhone 2g-4s */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  
  .pencil {
    max-width: 45px;
    margin-top: 0;
  }

  #colour-game-panel {
    height: 50vh;
  }
}

