#colour-counter-panel {
	text-align: center;
	padding: 1em;
  height: 100%;
  background-color: rgba(255,254,224,0.7);
}

#colour-question-panel {
	text-align: center;
	padding: 1em;
  background-color: rgba(255,254,224,0.7);
}

#colour-game-panel {
	height: auto;
  background-color: rgba(255,254,224,0.7);
}

.row-centered {
	float: center;
}

.colours-row {
  display: inline-block;
}
.pencil:hover {
  transform: scale(1.1);
}

#colours-avatar {
  width: 8em;
  height: 6em;
  border-radius: 100%;
  margin-top: 1em;
}

#colour-child-name {
  vertical-align: text-top;
  margin-top: 1em;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: forestgreen;
}

.answers-counter-colours {
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

#colourGameReturnHome {
  margin: 1em;
}

#colourGameRestart {
  margin: 1em;
}

@media only screen and (max-width : 450px) {
  .answers-counter-colours {
    font-size: 1.5em;
  }
}
