/*body {
	background: url("/images/banner-vector1-01.svg") no-repeat fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}*/

#logo {
	width: 15%;
	height: 15%;
	margin-left: 0;
	margin-top: 0;
}

#question-panel {
	text-align: center;
	padding: 30px; 
}

#game-panel {
	height: auto;
}

.row-centered {
	float: center;
}

#red {
  background-color: red;
}

#blue {
  background-color: dodgerblue;
}

#green {
  background-color: forestgreen;
}

#yellow {
  background-color: yellow;
}

.circle {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  margin: 1.5em;
  display: inline-block;
}

.colours-row {
  display: inline-block;
}
.circle:hover {
  transform: scale(1.5);
}

#colours-avatar {
  width: 8em;
  height: 6em;
  border-radius: 100%;
  margin-top: 1em;
}

#colour-child-name {
  vertical-align: text-top;
  margin-top: 1em;
}



.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: forestgreen;
}

.answersCounterDiv {
  font-size: 3em;
}

#colourGameReturnHome {
  margin: 1em;
}

#colourGameRestart {
  margin: 1em;
}
