#main-header {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: solid 5px red;
  padding-bottom: 25px;
}

.dashboard-child {
  border: solid 5px black;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: gray;
}

.child-info {
  border: solid 2px red;
  border-radius: 5px;
}

.statistics {
  border: solid 2px red;
  border-radius: 5px;
}

.games {
  border: solid 2px red;
  border-radius: 5px;
  height: 50px;
  padding-top: 6px;
}


.child-info {
  margin-top: 25px;
  margin-bottom: 15px;
}

.avatar {
  margin-top: 25px;
}