<template name="main">
  <nav>
    {{> loginButtons}}
  </nav>

  <div id="main-header" class="col-xs-12">
    
    <h1>Welcome to Smart Owl</h1>
    <h2>Learning</h2>

    <div class="col-xs-4 col-xs-offset-4">
      <img src="http://i.imgur.com/8jf8Ced.png" class="img-responsive">
    </div>
  
    <div class="col-xs-12">
      <h3>Parent Dashboard</h3>
      <p>All of your Children's Information will displayed here in their own personalized child-info section.</p>
    </div>

  </div>

  {{#each children}}
    {{> child}}
  {{/each}}
  
  <div id="add-child" class="col-xs-12">
    <form class="new-child" style="display: none">
      <input type="text" placeholder="Child's Name..." name="childName">
      <input type="text" placeholder="Child's Age..." name="childAge">
      <input type="submit" class="btn btn-default">
    </form>

    <button id="add-child-btn" class="btn btn-success">Add Your Child!</button>
  </div>

</template>

