body {
	background: url("/images/background-image-3-01.svg") no-repeat fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
/*  font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  background-color: #fffee0;
}

/* ----------------- Button Override Styling ----------------- */

.btn-primary {
  background-color: #f8b03f;
  border-radius: 24px;
  border: 2px solid #f8b03f;
  margin-top: 1.5em;
  padding: 4px 20px;
  font-size: 14px;
  text-align: center;
  color: #fffee0;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: .1s all; 
  opacity: 1;
}

.btn-success {
  background-color: #454f54;
  border-radius: 24px;
  border: 2px solid #454f54;
  margin-top: 1.5em;
  padding: 4px 20px;
  font-size: 14px;
  text-align: center;
  color: #fffee0;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-success:hover, .btn-primary:hover {
  background-color: #fffee0;
  color: #454f54;
  border: 2px solid #454f54;
}

 h1 {
  font-family: 'Allerta', sans-serif;
  font-size: 40px;
}
 
h2 {
}
 
h3 {
  font-family: 'Allerta', sans-serif;
}
 
h4 {
  font-family: 'Allerta', sans-serif;
}
 
 h5 {
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  font-weight: 600; 
}
 
h6 {
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  font-size: 13px;
  font-weight: 400; 
}

/* ----------------- All Button Shadow and Hover ----------------- */

.svg-shadow-hover { 
  transition: .1s all; 
  opacity: 1; 
}

.svg-shadow-hover:hover { 
  opacity: .8; 
  -webkit-filter: drop-shadow( 0px 0px 10px #000 );
  filter: drop-shadow( 0px 0px 10px #000 ); 
}