<template name="landing">
  
  {{> navbar}}

  <!-- Child Panel -->
  {{#if signedIn }}

  <div>
    <button id="add-child-btn" class="col-xs-4 col-xs-offset-4">Add Your Child!</button>
    <div id="add-child" class="col-xs-6 col-xs-6">
      <form id="vertical-form" class="new-child" style="display: none">
        <input type="text" placeholder="Child's Name..." name="childName">
        <input type="text" placeholder="Child's Age..." name="childAge">
        <input type="submit" class="submit-btn">
      </form>
    </div>
  </div>


  <div id="child-panel" class="col-xs-12 panel panel-default text-center"> 

    <div id="children-avatars">
      {{#each children}}
        {{> childAvatar}}
      {{/each}}
    </div>
  </div>

  {{/if}}

  <!-- Introduction -->
  <section id="content-1-4" class="content-block-nopad content-1-4">
    <div class="image-container col-xs-12 col-md-5 col-sm-3 pull-left">
      <img class="img-responsive img-center" src="/images/smart-owl-main-logo.svg" alt="">
    </div>
  
    <div id="intro" class="container">
    
      <div class="row">
    
        <div class="col-md-7 col-md-offset-5 col-sm-9 col-sm-offset-3 content clearfix">
          <div class="editContent">
            <h1>Welcome to Smart Owl Learning</h1>
          </div>
          <div class="editContent">
            <p class="lead">Educational games are a great tool for building foundation math and language skills that today's elementary school curriculum requires. These online learning games for kids are fun and teach important skills for preschool kids. Want educational games that help build skills in math, shapes and more? You've come to the right place!</p>
          </div>
        </div>
    
      </div><!-- /.row-->
    
    </div><!-- /.container -->
  </section>
    <!-- // End Content Block 1-4 -->

<section id="content-3-5" class="content-block content-3-5">
        <div class="container">

            <div class="row">
                <!-- Feature Box 1 HEX #4ecdc4 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aqua-feature-box">
<!--                         <div class="icon">
                            <img src="" class="img-responsive img-center">
                        </div> -->
                        <div class="editContent">
                            <h3>Games</h3>
                        </div>
                        <div class="editContent">
                            <p>Our unique creative activities teach children colours, shapes, number sense, counting and patterns. Our games make learning fun while giving young children the practice they need to build a strong foundation for success.</p>
                        </div>
                    </div>
                </div>

                <!-- Feature Box 2 HEX #ff6b6b -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="coral-feature-box">
<!--                         <div class="icon">
                            <img src="images/game-button-04.svg" class="img-responsive img-center">
                        </div> -->
                        <div class="editContent">
                            <h3>Targeted Education</h3>
                        </div>
                        <div class="editContent">
                            <p>Adaptive learning is tailored specifically to your childs age and focuses on areas that need work. All topics are reinforced to ensure retention and encourage parental involvement.</p>
                        </div>
                    </div>
                </div>

                <!-- Feature Box 3 HEX #7a94a3 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="grey-feature-box">
<!--                         <div class="icon">
                            <img src="images/game-button-04.svg" class="img-responsive img-center">
                        </div> -->
                        <div class="editContent">
                            <h3>Measurable Results</h3>
                        </div>
                        <div class="editContent">
                            <p>Track improvement and mastery of skills with real time progress reports. Charted progress over time to highlight areas where you can best help your child.</p>
                        </div>
                    </div>
                </div>

                <!-- Feature Box 4 HEX #f2f270 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="yellow-feature-box">
<!--                         <div class="icon">
                            <img src="images/game-button-04.svg" class="img-responsive img-center">
                        </div> -->
                        <div class="editContent">
                            <h3>Printables</h3>
                        </div>
                        <div class="editContent">
                            <p>We offer printables for all games that encourage your child to continue their learning offline through positive reinforcement.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container Ends -->
    </section>
    <!--// END Content Block 3-5 -->
</template> 

