<template name="landing">
  
  {{> navbar}}

  <!-- ============== Child Block After Sign In ============== -->
  {{#if signedIn }}

  <!-- ====================== Logo Block ====================== -->

  <div id="content-1-4" class="content-block-nopad content-1-4">

    <div class="image-container col-xs-12 col-sm-6 pull-left">
      <img id="smartowl-main" class="img-responsive img-center" src="/images/smart-owl-main-logo.svg" alt="">
    </div>

    <!-- ================ Introduction Block ================ -->  

    <div id="intro" class="container">
    
      <div class="row">
        
        <!-- input for uploading child profile image -->

        <input type="file" name="upload profile" class="profileImageInput" style="display: none">
        
        <div class="col-xs-12 col-sm-6 content clearfix">
          <div class="editContent">
            <h1>Get Started!</h1>
          </div>

          <div class="editContent">
            <p class="lead">Add your child below and click on the Dashbord to view their profile or get them started on games right away!</p>
          </div>

          <div>
            <button id="add-child-btn" class="btn-primary col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">Add Your Child  > </button>
            <div id="add-child" class="col-xs-12">
              <form id="add-child-form" class="new-child" style="display: none">
                <input class="col-xs-4" type="text" placeholder="Child's Name..." name="childName">
                <input class="col-xs-3 col-xs-offset-1" type="text" placeholder="Child's Age..." name="childAge">
                <button type="submit" class="submit-btn col-xs-2 col-xs-offset-1">Add</button>
                <div class="text-left" id="add-child-error"></div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.row-->
    </div><!-- /.container -->
  </div><!-- // End Content Block 1-4 -->

  <!-- ============== Child Avatar Blocks ============== -->  
  <div class="content-3-5">
    <div class="container">
      <div class="row">
        <!-- input the children avatars here  -->
          {{#each children}}
            {{> childAvatar}}
          {{/each}}
        <!-- </div> -->
      </div>
    </div>
  </div>

  {{else}}

  <!-- ============== Child Avatar Logo Block ============== -->

  <div id="content-1-4" class="content-block-nopad content-1-4">
    <div class="image-container col-xs-12 col-sm-6 pull-left">
      <img id="smartowl-main" class="img-responsive img-center" src="/images/smart-owl-main-logo.svg" alt="">
    </div>

  <!-- ============== Welcome Introduction Block ============== -->  
  <div id="intro" class="container">
    
    <div class="row">
    
      <div class="col-xs-12 col-sm-6 content clearfix">

        <div class="editContent">
          <h1>Welcome</h1>
        </div>

          <div class="editContent">
            <p class="lead">Smart Owl Learning offers educational games that provide a great tool for building the foundation skills that today's elementary school curriculum requires.</p>
          </div>

        </div>

      </div><!-- /.row-->

    </div><!-- /.container -->

  </div><!-- // End Content Block 1-4 -->

<!-- ============== Features Colour Block ============== --> 
  <div class="content-3-5">

    <div class="container">

      <div class="row">

        <!-- Feature Box 1 HEX #4ecdc4 -->
        
        <div class="col-md-3 col-xs-12">
          <div class="aqua-feature-box">
             <div class="icon">
              <img src="/images/icons/icons-games.svg" class="img-responsive img-center">
            </div> 
            <div class="editContent">
              <h4>Games</h4>
            </div>
            <div class="editContent">
              <p>Our games make learning fun and give children the skills they need to build a strong foundation.</p>
            </div>
          </div>
        </div>

        <!-- Feature Box 2 HEX #ff6b6b -->

        <div class="col-md-3 col-xs-12">
          <div class="coral-feature-box">
            <div class="icon">
              <img src="/images/icons/icons-reports.svg" class="img-responsive img-center">
            </div> 
            <div class="editContent">
              <h4>Live Reports</h4>
            </div>
            <div class="editContent">
              <p>Charted progress over time to highlight track improvement or areas where your child needs help.</p>
            </div>
          </div>
        </div>

        <!-- Feature Box 3 HEX #7a94a3 -->

        <div class="col-md-3 col-xs-12">
          <div class="grey-feature-box">
            <div class="icon">
              <img src="/images/icons/icons-education.png" class="img-responsive img-center">
            </div> 
            <div class="editContent">
              <h4>Educational</h4>
            </div>
            <div class="editContent">
              <p>Adaptive learning is tailored specifically to your childs age and encourages parental involvement.</p>
            </div>
          </div>
        </div>

        <!-- Feature Box 4 HEX #f2f270 -->

        <div class="col-md-3 col-xs-12">
          <div class="yellow-feature-box">
            <div class="icon">
              <img src="/images/icons/icons-printables.svg" class="img-responsive img-center">
            </div> 
            <div class="editContent">
              <h4>Printables</h4>
            </div>
            <div class="editContent">
              <p>Printables encourage your child to continue their learning offline through positive reinforcement.</p>
            </div>
          </div>
        </div>

      </div><!-- Row Ends -->
    </div><!-- Container Ends -->
  </div><!--// END Content Block 3-5 -->

  {{/if}}

</template> 

