#smartowl-main {
  margin-top: -30px;
}

.image-fluid-height {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.welcome-fixed-height {
  background-color: rgba(255,254,224,0.7);
  height: 450px;
}

.info-fixed-height {
/*  background-color: #fffee0;*/
  height: 450px;
}

.img-center {
  margin: 0 auto;
}

.img-responsive {
  max-width: 75%;
}

section {
  padding: 75px 0;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

@media(max-width:768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section-heading {
    font-size: 2em;
  }
}

#add-child {
  text-align: center;
  margin-top: 1em;
}

#add-child-btn {
  background-color: #f8b03f;
  border-radius: 24px;
  border: 2px solid #f8b03f;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-bottom: 0.2em;
  padding: 14px 26px;
  font-size: 15px;
  color: #454f54;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase; 
  transition: .5s all; 
}

#add-child-btn:hover {
  -webkit-filter: drop-shadow( 0px 0px 10px #000 );
  filter: drop-shadow( 0px 0px 10px #000 ); 
}
  
input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #454f54;
}

.new-child {
  display: table-cell;
  vertical-align: middle;
}

#add-child-error {
  font-weight: 600;
  color: #f8b03f;
  margin-top: 35px;
}

.submit-btn {
  background-color: #454f54;
  border-radius: 24px;
  border: 1px solid #454f54;
  color: #fffee0;
  font-weight: 600;
  text-transform: uppercase; 
}

.btn-outline.outline-light:hover {
  color: #2c3e50;
}

.avatar:hover {
  cursor: pointer;
}

#child-panel {
  text-align: center;
  padding: 30px; 
  height: auto;
}

#add-child-form {
  display: inline-block;
}

/*  CONTENT BLOCK 1-4
/*----------------------------------------------------*/

.content-1-4 {
  padding: 0px;
  position: relative;
}

.content-1-4 {
  position: relative;
  height: 100%;
  padding: 0px;
  top: 0px;
}

#intro {
 margin-bottom: 25px;
 background-color: rgba(255,254,224,0.7);
}

.content-1-4 .background-image-holder {
  background: #000 url('../images/600x800.gif') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.content-1-4 h1 {
  margin-bottom: 20px;
}

.content-1-4 p.lead {
  margin-bottom: 15px;
}

/*  CONTENT BLOCK 3-5
/*----------------------------------------------------*/

.cream-feature-box {
    background-color: rgba(255,254,224,0.7);
    padding: 35px 30px;
    text-align: center;
    height: 300px;
    padding: 20px;
}

.aqua-feature-box {
    background: #4ecdc4;
    padding: 35px 30px;
    text-align: center;
    height: 300px;
    padding: 20px;
}

.coral-feature-box {
    background: #ff6b6b;
    padding: 35px 30px;
    text-align: center;
    height: 300px;
    padding: 20px;
}

.grey-feature-box {
    background: #7a94a3;
    padding: 35px 30px;
    text-align: center;
    height: 300px;
    padding: 20px;
}

.yellow-feature-box {
    background: #f2f270;
    padding: 35px 30px;
    text-align: center;
    height: 300px;
    padding: 20px;
}

.content-3-5 .feature-box:hover {
    background-color: #31152B;
}

.content-3-5 .feature-box .icon {
  height: 150px;
  width: 150px;
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 25px;
}

.content-3-5 .feature-box p {
    line-height: 25px;
    color: #ffffff;
    opacity: 0.5;
}

.content-3-5 h5 {
    font-weight: 900;
}

.content-3-5 .feature-box, .content-3-5 .feature-box:hover, .content-3-5 .feature-icon, .content-3-5 .feature-box:hover .feature-icon {
    transition: all 0.4s ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -webkit-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
}

.landing-page-image-icon {
  display: none;
}

/*  CONTENT BLOCK 3-5 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (max-width: 990px) {
  
  .landing-page-image-icon {
    display: none;
  }
  
  .cream-feature-box,
  .aqua-feature-box,
  .coral-feature-box,
  .grey-feature-box, 
  .yellow-feature-box {
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
  }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
  
  .cream-feature-box,
  .aqua-feature-box,
  .coral-feature-box,
  .grey-feature-box, 
  .yellow-feature-box {
    border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  
  .content-3-5 {
    border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  
  #intro {
     border-radius: 20px;
  }
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  
  
  
}

