.navbar {
  max-height: 50px;
  z-index: 999999;
}

#navbar-logo {
	width: 250px;
	margin-top: 5px;
  cursor: pointer;
}

#login-buttons {
	padding: 2em;
  margin-top: 0.5em;
  border-radius: 24px; 
  border: 2px solid #454f54;
  padding: 9px 26px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  background-color: #fffee0;
}

.login-close-text {
	background-color: #454f54;
  border-radius: 24px;
  border: 2px solid #454f54;
  padding: 2px 10px; 
  font-size: 12px;
  color: #fffee0;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
  margin-top: -41px;
  margin-right: -17px;
  cursor: pointer;
}

.login-close-text:hover {
	background-color: #fffee0;
  color: #454f54;
}

.additional-link-container {
	background-color: #454f54;
  border-radius: 24px;
  border: 2px solid #454f54;
  margin-top: 2em;
  padding: 2px 10px; 
  font-size: 12px;
	text-align: center;
  color: #fffee0;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.login-link-text {
	color: #454f54;	
}

#forgot-password-link {
	color: #fffee0;
 	text-align: center;
 	margin: 15px
}

#signup-link, 
#back-to-login-link {
	color: #fffee0;	
 	text-align: center;
 	margin: 15px;
}

#login-name-link {
	color: #454f54;	
 	text-align: center;
  cursor: pointer;
}

#login-dropdown-list {
	color: #454f54;
	margin-top:1em;
  min-width: 180px;
}

#login-buttons-password {
	background-color: #f8b03f;
  border-radius: 24px;
  border: 2px solid #f8b03f;
  margin-top: 1.5em;
  padding: 2px 10px; 
  font-size: 12px;
  text-align: center;
  color: #fffee0;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

#login-buttons-open-change-password,
#login-buttons-do-change-password {
	background-color: #f8b03f;
  border-radius: 24px;
  border: 2px solid #f8b03f;
  margin-top: 1.5em;
  padding: 2px 10px; 
  font-size: 12px;
  text-align: center;
  color: #fffee0;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.message.info-message {
  text-transform: uppercase;	
  color: #f8b03f;

}

#login-buttons-logout {
	background-color: #454f54;
  border-radius: 24px;
  border: 2px solid #454f54;
  margin-top: 2em;
  padding: 2px 10px; 
  font-size: 12px;
	text-align: center;
  color: #fffee0;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-default {
	background-color: transparent;
	border: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #login-buttons {
    text-align: center;
  }
}

#login-sign-in-link, #signup-link, #forgot-password-link, #back-to-login-link, #login-buttons-forgot-password {
  cursor: pointer;
}