/* -------------------Main Content Styles------------------- */

.main-content {
  height: 85%;
  position:relative;
}

.dashboard-child {
  /*border-radius: 20px;*/
  background-color: rgba(255,254,224,0.7);
  border: 2px;
}

@media (min-width: 769px) {
  .dashboard-child {
    height: 90vh;
  }
}

/* -----------------Game Chart Panel Styles----------------- */

.statistics-charts, .statistics-charts-ipad {
  background-color: rgba(255,254,224,0.7);
}

#game-stats-container {
  background-color: rgba(255,254,224,0.7);
}

#game-stats-chart, #game-avg-comparison {
  
}

@media (min-width: 769px) {
  .statistics-charts {
    height: 90vh;
  }
}

/* -------------------Button-Icon Styles------------------- */

.game-button-icon {
  margin: 5px auto;
  max-height: 20vh;
}

.col-sm-2 {
  padding-right: none !important;
}

/* -------------------Child Panel Styles------------------- */

#child-hr {
  border-top: 2px solid #f8b03f;
  width: 11em;
}

.child-profile-page {
  height: 100vh;
}

.avatar-profile {
  margin-top: 15px;
  margin-bottom: 15px;
}

.statistics-title {
  text-align: center;
  margin-top: 50px;
  font-size: 4vw;
}

.table, th {
  text-align: center;
  font-weight: bold;
  border-bottom: none !important;
}

.table th, .table td { 
  border-top: none !important; 
 }

#play-button-dash {
  max-width: 100px;
}