/* -------------------Main Content Styles------------------- */

.main-content {
  height: 85%;
  position:relative;
}

.dashboard-child {
  /*border-radius: 20px;*/
  background-color: rgba(255,254,224,0.7);
  border: 2px;
}

/* -----------------Game Chart Panel Styles----------------- */

.statistics-charts, .statistics-charts-ipad {
  background-color: rgba(255,254,224,0.7);
  padding-top: 80px;
}

#game-stats-container {
  background-color: rgba(255,254,224,0.7);
}

/* -------------------Button-Icon Styles------------------- */

.game-button-icon {
  margin: 5px auto;
  max-height: 20vh;
}

.col-sm-2 {
  padding-right: none !important;
}

/* -------------------Child Panel Styles------------------- */

#child-hr {
  border-top: 2px solid #f8b03f;
  width: 11em;
}

.child-profile-page {
  height: 100vh;
}

.avatar-profile {
  margin-top: 15px;
  margin-bottom: 15px;
}

.statistics-title {
  text-align: center;
  margin-top: 50px;
  font-size: 4vw;
}

th {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #f8b03f !important;
  border-top: 2px solid #f8b03f !important;; 
}

.table th, .table td { 
  font-family: 'Allerta', sans-serif;
  border-top: none !important;
  text-align: center;
  font-weight: bold;
 }

#play-button-dash {
  max-width: 100px;
}

/* -------------------Mobile Styles (Less than 769px)------------------- */

@media (min-width: 769px) {
  .dashboard-child {
    height: 90vh;
  }
  .statistics-charts {
    height: 90vh;
  }
  .child-chart-selection{
    height: 90vh;
  }
}

/* -------------------iPad Styles (More than 769px and Less than 990px)------------------- */

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .dashboard-child {
    height: 80vh;
    margin-top: 10vh;
  }
  .statistics-charts {
    height: 80vh;
    margin-top: 10vh;
  }
  .child-chart-selection{
    height: 80vh;
    margin-top: 10vh;
  }
}