<template name="childProfile">

  {{> navbar}}

  <div id="main-header" class="col-xs-10 col-xs-offset-1">  
    <div class="col-xs-12">
      <h3><strong><u>{{childInfo.name}}'s Games Page!</u></strong></h3>
      <p>All of your Children's Information will displayed here in their own personalized child-info section.</p>
    </div>
  </div>

  <div class="container">
    
    <div class="games col-xs-12">
          
        <div class="maths-game games-img col-xs-3">
          <img src="images/game-button-03.svg" class="img-responsive img-center">
        </div>

        <div class="colours-game games-img col-xs-3">
          <img src="images/game-button-01.svg" class="img-responsive img-center">
        </div>

        <div class="game-three games-img col-xs-3">
          <img src="images/game-button-02.svg" class="img-responsive img-center">
        </div>

        <div class="game-four games-img col-xs-3">
          <img src="images/game-button-04.svg" class="img-responsive img-center">
        </div>

    </div>
  
  </div>

  <div class="panel panel-default dashboard-child col-xs-10 col-xs-offset-1">

    <div class="panel-body">
      
      <div class="avatar-profile col-xs-12 col-sm-4">
        <img src="http://images.watoday.com.au/2010/12/22/2105997/kids-swing-3-4-420-420x0.jpg" class="img-circle img-responsive">
      </div>


      <div class="child-info col-xs-12 col-sm-8">
        <div class="row">
          <div class="child-name col-xs-6">
            <span>Name: <strong>{{childInfo.name}}</strong></span>
          </div>

          <div class="child-age col-xs-6">
            <span>Age: <strong>{{childInfo.age}}</strong></span>
          </div>
        </div>
      </div>

      <div class="statistics col-xs-12">
      
        <table class="table">
          <thead>
            <tr>
              <th>Game Name</th>
              <th>Average Score</th>
              <th>Score History</th>
            </tr>
          </thead>
          <tbody>

            <tr class="child-games">
              <td class="game-name">Maths Game:</td>
              <td class="game-stats">{{mathsGameStats}}</td>
              <td class="game-history">
                <button id="maths-game-chart" class="btn btn-primary col-xs-12">View chart</button>
              </td>
            </tr>
            <tr class="child-games">
              <td class="game-name">Colours Game:</td>
              <td class="game-stats">{{coloursGameStats}}</td>
              <td class="game-history">
                <button id="colours-game-chart" class="btn btn-primary col-xs-12">View chart</button>
              </td>
            </tr>
            <tr class="child-games">
              <td class="game-name">Shapes Game:</td>
              <td class="game-stats">{{shapesGameStats}}</td>
              <td class="game-history">
                <button id="colours-game-chart" class="btn btn-primary col-xs-12">View chart</button>
              </td>
            </tr>
             <tr class="child-games">
              <td class="game-name">Other Game:</td>
              <td class="game-stats">No Stats</td>
              <td class="game-history">
                <button id="game-chart" class="btn btn-primary col-xs-12">View chart</button>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>

  <div id="game-stats-container" class="panel panel-default col-xs-10 col-xs-offset-1" style="display: none">

    <!-- <div class="panel-heading"> -->
      <span id="game-stats-title">Game Statistics Chart</span>
    <!-- </div> -->

    <div class="panel-body">

      <div id="game-stats-chart" class="col-xs-9" style="min-width: 310px; height: 400px;"></div>
      <div id="game-avg-comparison" class="col-xs-3" style="height: 400px;"></div>

    </div>

  </div>


</template>

