<template name="games">
  {{> navbar}}

  <div class="container">
    <div class="row text-center">
      
      <h1 id="games-console-title">GAMES CONSOLE</h1>

      <div class="games">
            
        <div class="maths-game games-img col-xs-6 col-sm-4 col-md-3">
          <img src="images/icons/icons-math-game.svg" class="img-responsive img-center">
        </div>

        <div class="colours-game games-img col-xs-6 col-sm-4 col-md-3">
          <img src="images/icons/icons-colours-game.svg" class="img-responsive img-center">
        </div>

        <div class="game-three games-img col-xs-6 col-sm-4 col-md-3">
          <img src="images/icons/icons-shapes-game.svg" class="img-responsive img-center">
        </div>

        <div class="game-four games-img col-xs-6 col-sm-4 col-md-3">
          <img src="images/icons/icons-memory-game.svg" class="img-responsive img-center">
        </div>

      </div>
    </div>
  
  </div>
</template>