/* --------------------------------- Game Panels --------------------------------- */

#shapes-counter-panel {
	text-align: center;
	padding: 1em;
  height: 100%;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

#shapes-question-panel {
	text-align: center;
	padding: 1em;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

#shapes-question-panel > h1 {
  text-transform: uppercase;
}

#shapes-question-panel > span {
  font-size: 1.8em;
}

#shapes-game-panel {
	height: auto;
  background-color: rgba(255,254,224,0.7);
  border: none;
  box-shadow: none;
}

.row-centered {
	float: center;
}

.shape {
  display: inline-block;
  width: 150px;
}

#rectangle {
 image-orientation: 90deg; 
}

.shapes-row {
  display: inline-block;
}

.shape:hover {
  transform: scale(1.5);
}

#shapes-avatar {
  width: 8em;
  height: 6em;
  border-radius: 100%;
  margin-top: 1em;
}

#shape-child-name {
  vertical-align: text-top;
  margin-top: 1em;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: forestgreen;
}

.answersCounterDiv {
  font-size: 3em;
}

.triangle {
    width: 10%;
    height: 0;    
    padding-left:10%;
    padding-bottom: 10%;
    overflow: hidden;
}

.answers-counter-shapes {
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width : 450px) {
  .answers-counter-shapes {
    font-size: 1.5em;
  }
  
  .shape {
    width: 100px;
  }
}

/* Media Query for iPhone 2g-4s */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  
  .shape {
    max-width: 15vw;
    margin-top: 0;
  }

  #shapes-game-panel {
    height: 25vh;
  }
}

/* Media Query for iPhone 5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  
  .shape {
    max-width: 25vw;
  }

  #shapes-game-panel {
    height: 30vh;
  }

}


/* Media Query for iPhone 6 */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

  .shape {
    max-width: 30vw;
  } 

  #shapes-game-panel {
    height: 40vh;
  }

  #shapes-game-panel > #shapes-row-1 {
    margin-top: 10vh;
  }

  #shapes-question {
    margin-top: 10vh;
    font-size: 6.5em;
  }

}

/* Media Query for iPhone 6 Plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {

  .shape {
    max-width: 40vw;
  }

  #shapes-game-panel {
    height: 40vh;
  }

}

/* Media Query for iPad + iPad Mini */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  #shapes-game-panel {
    height: 50vh;
  }

}