#shapes-counter-panel {
	text-align: center;
	padding: 1em;
  height: 100%;
  background-color: rgba(255,254,224,0.7);
}

#shapes-question-panel {
	text-align: center;
	padding: 1em;
  background-color: rgba(255,254,224,0.7);
}

#shapes-game-panel {
	height: auto;
  background-color: rgba(255,254,224,0.7);
}

.row-centered {
	float: center;
}

.shape {
  display: inline-block;
  width: 150px;
}

#rectangle {
 image-orientation: 90deg; 
}

.shapes-row {
  display: inline-block;
}

.shape:hover {
  transform: scale(1.5);
}

#shapes-avatar {
  width: 8em;
  height: 6em;
  border-radius: 100%;
  margin-top: 1em;
}

#shape-child-name {
  vertical-align: text-top;
  margin-top: 1em;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-ok {
  color: forestgreen;
}

.answersCounterDiv {
  font-size: 3em;
}

#shapeGameReturnHome {
  margin: 1em;
}

#shapeGameRestart {
  margin: 1em;
}

.triangle {
    width: 10%;
    height: 0;    
    padding-left:10%;
    padding-bottom: 10%;
    overflow: hidden;
}

.answers-counter-shapes {
  font-size: 2em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width : 450px) {
  .answers-counter-shapes {
    font-size: 1.5em;
  }
  
  .shape {
    width: 100px;
  }
}