<template name="shapes">
  
<!--========================================================= Navbar =========================================================-->
     
  {{> navbar}}

  <div class="container">
    
  {{#if counter}}
  
<!--===================================================== Question Panel =====================================================-->

    <div id="shapes-question-panel" class="col-md-12 col-lg-8 col-lg-offset-2 panel panel-default">
     
      <span>What shape is a</span>
      <h1>{{getRandomShape}}</h1>
      
    </div> 
   

<!--======================================================= Game Panel =======================================================-->

     <div id="shapes-game-panel" class="col-md-12 col-lg-8 col-lg-offset-2 panel panel-default text-center">
     
      <div id="shapes-row-1" class="row">
        <img id="triangle" class="shape" src="/images/shapes-triangle.svg">
        <img id="rectangle" class="shape" src="/images/shapes-rectangle.svg">
        <img id="square" class="shape" src="/images/shapes-square.svg">
      </div>
      
      <div id="shapes-row-2" class="row">
        <img id="star" class="shape" src="/images/shapes-star.svg">
        <img id="hexagon" class="shape" src="/images/shapes-polygon.svg">
        <img id="circle" class="shape" src="/images/shapes-circle.svg">
      </div>

    </div>

<!--====================================================== Answers Panel ======================================================-->

    <div id="shapes-counter-panel" class="col-md-12 col-lg-8 col-lg-offset-2 panel panel-default text-justify">
     
      <div class="answers-counter-shapes">
        <span class="glyphicon glyphicon-ok"></span> 
        {{updateCorrectAnswers}} - Correct
      </div>
      
      <div class="answers-counter-shapes">
        <span class="glyphicon glyphicon-remove"></span> 
        {{updateIncorrectAnswers}} - Incorrect
      </div>
      
    </div>

  {{else}}

  <!--================================================== Finish Game Message ==================================================-->

    <h1 class="col-xs-12 text-center">Well Done {{child.name}}!<br>Your Score was {{updateCorrectAnswers}}.</h1>
    
    <div class="col-xs-12 text-center">
      <button class="btn btn-lg btn-primary" id="backToDash">Back to Dashboard</button>
    </div>

    <div class="content-3-5">
      <div class="container">
        <div class="row text-center">

          <div class="games">
            
            <!-- ============= Maths Game =============== -->

            <div class="col-xs-6 col-sm-4 col-md-3 game-box">
              <div class="cream-feature-box">
                <div class="maths-game games-img icon">
                  <img src="images/icons/icons-math-game.svg" class="img-responsive img-center svg-shadow-hover">
                </div>
                <div class="editContent">
                  <h4>MATHS</h4>
                </div>
              </div>
            </div>

            <!-- ============= Colours Game ============= -->

            <div class="col-xs-6 col-sm-4 col-md-3 game-box">
              <div class="cream-feature-box">
                <div class="colours-game games-img icon">
                  <img src="images/icons/icons-colours-game.svg" class="img-responsive img-center svg-shadow-hover">
                </div>
                <div class="editContent">
                  <h4>COLOURS</h4>
                </div>
              </div>
            </div>

            <!-- ============= Shapes Game ============= -->

            <div class="col-xs-6 col-sm-4 col-md-3 game-box">
              <div class="cream-feature-box">
                <div class="shapes-game games-img">
                  <img src="images/icons/icons-shapes-game.svg" class="img-responsive img-center svg-shadow-hover">
                </div>
                <div class="editContent">
                  <h4>SHAPES</h4>
                </div>
              </div>
            </div>

            <!-- ============= Memory Game ============= -->

            <div class="col-xs-6 col-sm-4 col-md-3 game-box">
              <div class="cream-feature-box">
                <div class="animals-game games-img">
                  <img src="images/icons/icons-animal-game.svg" class="img-responsive img-center svg-shadow-hover">
                </div>
                <div class="editContent">
                  <h4>ANIMALS</h4>
                </div>
              </div>
            </div>
            
            <!-- ========== End of Games Page ========== -->

          </div>
        </div>
      </div>
    </div>

  {{/if}}

  </div>
</template>




