<template name="childAvatar">
	<div class="col-md-3 col-xs-12">
    <div class="{{featureBox}}">
      <div class="icon">
        <img src="http://images.watoday.com.au/2010/12/22/2105997/kids-swing-3-4-420-420x0.jpg" class="avatar img-rounded img-responsive center-block">
      </div> 
      <div class="editContent">
        <h4>Name: {{name}}</h4><h6>Age: {{age}}yrs old</h6>
      </div>

      <div class="child-icon col-xs-12">
        <img id="dash-button-child" src="/images/icons/icons-reports.svg" class="avatar col-md-6 img-responsive">
        <img id="play-button-child" src="/images/icons/icons-play-button.svg" class="play-button col-md-6 img-responsive">
      </div> 
    </div>
  </div>
</template>



