#dash-button-child {
  max-width: 100%;
/*-webkit-filter: drop-shadow( -5px -5px 5px #000 );
  filter: drop-shadow( -5px -5px 5px #000 ); */
}

#play-button-child {
  max-width: 100%;
/*  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
  filter: drop-shadow( -5px -5px 5px #000 );*/ 
}

/*#play-button-child:hover { 
  color: #a03c21 
}

hr {
  border-top: 5px solid #fffee0;
  width: 15em;
}
*/

