<template name="childAvatar">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="{{featureBox}}">
      <!-- Child Picture -->
      <div class="icon">
        <img src={{profileImg}} class="avatar img-rounded img-responsive center-block">
      </div>
      <!-- Profile img upload -->
      <!-- <input type="file" name="upload profile" class="profileImageInput"> -->
      <!-- Child Name and Age -->
      <div class="editContent">
        <h4>Name: {{name}}</h4><h6>Age: {{age}}yrs old</h6>
      </div>
      <!-- Play and Dashboard Icons -->
      <div class="child-icon">
        <img src="/images/icons/icons-statistics2.svg" class="dash-button img-responsive dash-button-child">
        <img src="/images/icons/icons-play-button-child.svg" class="play-button img-responsive play-button-child">
      </div> 
    </div>
  </div>
</template>



